.header {
  background-color: #687A8F;
  height: 95px;
  width: 100%;
  width: 1680px;
  /*position: absolute;*/
}

.coronyalogo {
  width: 197px;
  height: 170px;
    /* The .coronyalogo element is contained in the header, but you 
       have given it a height greater than that of the header 170 > 95
       so this will have an overflow issue */
}

.contents {
  background-color:#DCC7AA;
  /* the images are ending up outside the orange box because the 
     paw, coronyabeer, and blackcat divs are display: block by default,
     which means that they will stack on top of one another instead of
     aligning on one row. display 'flex' is one way to change that, you
     could also use 'inline-block' or even the 'float' property instead. */
  /*height:911px;
  width: 1680px;*/
}

.contents h1 {
  color: #FFFFFF;
  padding-top: 238px; /* the 'p' in padding need to be lowercase
  /*width: 439px;*/
  font-family: Stint Ultra Expanded;
  font-size: 96px;
}

.contents span {
  font-family: Uncial Antiqua;
  font-size: 175px;
}

.text-w-background {
  display: inline-block;
  position: relative;
  width: 439px;
}

.text-w-background h1 {
  margin-top: 0; /* This is to prevent the pesky margin-collapse issue in css */
  position: relative;
  z-index: 1;
  /* we haven't discussed the z-index property, but it gives an order for
     elements that need to be layered on top of each other, like h1 over .paw */
}

.text-w-background .paw {
  position: absolute;
}

.paw {
  /*width: 40%;*/
  /*height: auto;*/
  top: 20px;
  z-index: 0;
}

.coronyabeer {
  display: inline-block;
  width: 30%;
  height: auto;
  /*margin-left: auto;*/
}

.blackcat {
  display: inline-block;
  width:30%;
  /*height:auto;*/
  /*display: right;*/
  /* 'right' is not a value for the display property
     Some values we've discussed for this property are
    'block', 'inline-block', 'inline', or 'flex' */
}
